/*General styles*/
body {
    background-color: #f7f2f2;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    width: 90%;
    height: 100vh; /* 100% of the viewpoint height*/
}

/* Header styles; it applies to all code within the header*/



header {
    background-color: #007bff;
    color: #fff;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5px;
   
} 



/* grid code*/

/*
header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px; 
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5px;
    color: #fff;
    background-color: #007bff;
    width: 100%;
}
*/

img {
    border-radius: 10px;
    height: 7%;
    width: 7%;
    
}

nav a {
    text-decoration: none; /* it removes the underline line that is under by default*/
    color: #fff;
    padding: 10px 15px; /*10px means padding top and botton while 15px means padding left and right*/
    border-radius: 5px;
    display: inline-block;
    font-size: 20px;
}

nav a:hover {
    background-color: #0056b3;
    color: #fff;
}

.dropdown {
    display: inline-block;
    position: relative;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff; /* white background for dropdown */
    min-width: 100px;
    z-index: 1;
    
}

.dropdown:hover .dropdown-content {
    display: block;
    
}


.dropdown-content a {
    color: #080808;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    

}

